@(indexModel:IndexModel)

@main("index") {

    <h1>index page</h1>

    <div id="list">
        <h2>list...</h2>
         <table border="1">
            <tr>
                <th>Ename</th>
                <th>Cname</th>
                <th>type</th>
                <th>showName</th>
                <th>participle</th>
                <th>path</th>
            </tr>
            @helper.form(action=routes.IndexPage.post()){

                @for(item <- indexModel.items){
                    <tr>
                        <td>@item.ename</td>
                        <td>@item.cname</td>
                        <td>
                            <select>
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </td>
                        <td>
                            <input type="text">
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>@item.path</td>
                    </tr>
                }
            }
        </table>
    </div>
}
