@()

<!DOCTYPE html>

<html>
<head>
	<title>Destroydrop &raquo; Javascripts &raquo; Tree</title>

	<link rel="StyleSheet" href="@routes.Assets.at("stypesheets/dtree.css")"  type="text/css" />
	<script type="text/javascript" src="@routes.Assets.at("javascripts/dtree.js")"></script>

</head>

<body>

<h2>Example</h2>

<div class="dtree">

    <p><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>

    <script type="text/javascript">

		d = new dTree('d');

		d.add(0,-1,'root','root','root','root');
		d.add(1,0,'节点1','node1','complexType','MeteData');
		d.add(2,1,'fads','fadsf','element','data');

		document.write(d);

	</script>

</div>


</body>

</html>